<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.china"
    android:installLocation="auto"
    android:versionCode="10"
    android:versionName="1.9" >

    <application
        android:name="com.weichuang.china.music.MusicApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.android.china.LoginAtivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weichuang.china.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.tv.TVActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.radia.RadiaActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.radia.RadiaPlayer"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.video.net.PlayStreamingMediaActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.video.net.NetVideoListActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|locale"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.video.net.ShowActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.setinfo.SettingActivity"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.AboutMeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.setinfo.SetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.video.local.PlayListsActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|locale"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.weichuang.china.video.local.VideoListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.video.local.MainLocalVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.video.player.SystemPlayer"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" >
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="audio/*"
                    android:scheme="http" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="rtmp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="udp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="tcp" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="mms" />
                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtmp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="udp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="tcp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:mimeType="video/*"
                    android:scheme="content" />
                <data
                    android:mimeType="video/*"
                    android:scheme="mms" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/x-mpegurl"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
                <data android:scheme="gopher" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
                <data android:scheme="gopher" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tp" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.m4v" />
                <data android:pathPattern=".*\\.mp4" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weichuang.china.video.player.VideoPlayer"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.waps.OffersWebView"
            android:configChanges="keyboardHidden|orientation|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.weichuang.china.music.MusicMainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:label="@string/str_music_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/track" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/artistalbum" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/album" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/playlist" />
            </intent-filter>
        </activity>

        <receiver android:name="com.weichuang.china.music.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.weichuang.china.music.NowPlayingActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:excludeFromRecents="true"
            android:label="@string/now_playing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weichuang.china.music.NowPlayingRadiaActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:excludeFromRecents="true"
            android:label="@string/now_playing"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.music.StreamStarter"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weichuang.china.music.StudyEngilshActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.music.AlbumActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.music.TrackBrowserActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.music.PlaylistBrowserActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:label="@string/str_music_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.weichuang.china.music.DeleteItems"
            android:theme="@android:style/Theme.Dialog" />

        <service
            android:name="com.weichuang.china.music.MediaPlaybackService"
            android:exported="true" />

        <receiver android:name="com.weichuang.china.BootReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 以下属性为应用ID,从万普后台获取 
        <meta-data
            android:name="WAPS_ID"
            android:value="3f42a4b02948a51cc987af6b833d1720" />-->

        <!--
	    WAPS_PID	渠道名称		WAPS_PID	渠道名称
		WAPS	万普平台(默认)		QQ	腾讯应用
		Google	Google电子市场		3G	3G安卓市场
		91	91手机助手		waptw	天网下载
		hiapk	安卓市场		paojiao	泡椒网
		gfan	机锋市场		baoruan	宝软网
		appChina	掌上应用汇		feiliu	飞流下载
		eoe	优亿市场		digua	地瓜游戏
		mumayi	木蚂蚁市场		neng	能助手
		anfone	安丰下载		samsung 	三星乐园
		aimi	爱米商店		coolmart 	酷派市场
		iAndroid	爱卓市场		meizu	魅族市场
		star	安卓星空		huawei	华为智慧云
		nduoa	N多市场		motorola	摩托智件园
		goapk	安智市场		lenovo 	联想乐市场
        -->
        <!-- <activity android:name="com.waps.OffersWebView" android:configChanges="keyboardHidden|orientation"/> -->

        <meta-data
            android:name="WAPS_PID"
            android:value="WAPS" />

        <!-- 万普反馈 -->
        <activity
            android:name="com.weichuang.china.feedback.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 友盟反馈 -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <!-- 分享 -->
        <activity
            android:name="com.weichuang.china.share.ShareActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.api.activity.OauthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        
        <activity
            android:name="com.umeng.api.activity.UpdateStatusActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.IOSched"
            android:windowSoftInputMode="stateVisible|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="schema…" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.weichuang.china.checkerlibs.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name="io.vov.vitamio.VitamioService"
            android:exported="false" >
            <intent-filter>
                <action android:name="io.vov.vitamio.IVitamioService" />
            </intent-filter>
        </service>

        <receiver android:name="com.weichuang.china.util.PhoneStatReceiver">  
            <intent-filter>
                 <action android:name="android.intent.action.PHONE_STATE"/>           
                 <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
	    </receiver>
	    
        <activity
            android:name="com.weichuang.china.webkit.BrowserActivity"
            android:launchMode="singleTask"
            >
        </activity>
        
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Android市场" /> <!-- 4e27d766431fe360ce000027-4ea901855270151d4c000064 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4fa682b55270154e5700000f" >
        </meta-data>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    
     <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <!--  <uses-sdk
        android:minSdkVersion="5"
        android:maxSdkVersion="15"
        /> -->
  

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" > 
    </uses-permission>
    
     <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
     <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>

    <!--
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
       <uses-permission android:name="android.permission.READ_SMS"/>
    -->

</manifest>